* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #333;
}

main {
    padding-top: 5rem;
    /* To prevent content from being hidden behind the fixed header */
}

header {
    width: 100%;
    height: 5rem;
    color: white;
    position: fixed;
    z-index: 1000;
}

.headcontent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    border-bottom: 2px solid wheat;
    background-color: #333;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav {
    float: right;
    text-align: center;
}

.contentSection {
    padding: 2rem 1.25rem;
    background-color: #444;
    color: white;
    margin: 0 40px;
    border: 1px solid wheat;
}

.mainSection {
    margin-bottom: 3rem;
}

p {
    margin: 1rem 0;
    line-height: 1.5;
    text-align: justify;
}

.skillslist {
    display: flex;
}


.skills-lists-row {
    display: flex;
    gap: 10rem;
    justify-content: flex-start;
}

.skills-lists-row ul {
    margin-left: 1.2rem;
    list-style-type: disc;
}

.projectsList ul {
    list-style-type: disc;
    margin-left: 1.2rem;
}

.contentSection h3,h2 {
    margin-bottom: 1rem;
}
